@import url('https://fonts.googleapis.com/css?family=Righteous');

h1, h2 {
    color: #0B3954;
    font-family: "Righteous", monospace;
}

p, label {
    color: #710627;
    font-weight: bold;
    font-size: 14px;
    font-family: monospace;
}

button {
    font-weight: bolder;
    color: #0B3954;
}

form {
    border: #9E1946 7px solid;
    padding: 10px;
}



#gamename, #rating, #gamestartdate, #gameenddate {
    color: #710627;
    font-family: sans-serif;
}

.description {
    text-align: center;
}